<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>desiwalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @page {
            margin: 0;
            padding: 0;

            size: {{page_width}} {{page_height}};
        }

        html {
            background: #ddd;
        }

        .page {
            width: {{page_width}};
            height: {{page_height}};

            display: grid;
            grid-template-columns: repeat({{columns}}, minmax(0, 1fr));
            grid-template-rows: repeat({{rows}}, minmax(0, 1fr));

            /* For screen display only */
            background: #fff;
            margin: .5in auto;

            padding: {{page_padding}};
        }

        .panel {
            padding: {{panel_padding}};

            /* For screen display only */
            outline: 1px dashed #ccc;

            display: flex;
            justify-content: space-between;

            {{#handle_on_top}}
                flex-direction: column;
            {{/handle_on_top}}{{^handle_on_top}}
                flex-direction: row;
            {{/handle_on_top}}

        }

        .handle {
            font-family: monospace;

            {{#handle_on_top}}
                height: 1in;
                min-height: 1in;
            {{/handle_on_top}}{{^handle_on_top}}
                width: 1in;
                min-width: 1in;
                writing-mode: vertical-lr;
            {{/handle_on_top}}
        }

        .content {
            flex: 1;

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            /* TODO: extract and parameterize */
            filter: contrast(120%) brightness(200%);
        }

        @media print {
            html, .page {
                background: none !important;
            }

            .page {
                margin: 0;
            }
        }
    </style>
</head>

<body>
    {{#pages}}
        <div class="page">
            {{#panels}}
                <div class="panel">
                    {{#filename}}
                        <div class="handle">
                            {{filename}} | Page {{page}}
                        </div>
                        <div class="content" style="background-image:url({{filename}})"></div>
                    {{/filename}}
                </div>
            {{/panels}}
        </div>
    {{/pages}}
</body>

</html>
