<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>desiwalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @page {
            margin: 0;
            padding: 0;

            size: 8.5in 11in;
        }

        html {
            background: #eee;
        }

        body {
            width: 8.5in;
            background: #fff;
            display: flex;
            flex-wrap: wrap;
        }

        .panel {
            width: calc(8.5in / {{columns}});
            height: calc(11in / {{rows}});
            padding: .25in;
            outline: 1px dashed #ccc;
            display: flex;
            justify-content: right;
        }

        .handle {
            width: 1in;
            min-width: 1in;
            font-family: monospace;
            writing-mode: vertical-lr;
        }

        .content {
            overflow: hidden;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: contrast(120%) brightness(200%);
        }

        img {
            display: block;
            height: 100%;
        }

        @media print {
            * {
                background: none !important;
            }
        }
    </style>
</head>

<body>
    {{#panels}}
        <div class="panel">
            {{#filename}}
                <div class="handle">
                    {{filename}} | Page {{page}}
                </div>
                <div class="content">
                    <img src="{{filename}}" />
                </div>
            {{/filename}}
        </div>
    {{/panels}}
</body>

</html>
