<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}} - flippp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @page {
            margin: 0;
            padding: 0;

            size: {{pageWidth}} {{pageHeight}};
        }

        html {
            background: #ddd;
        }

        .page {
            width: {{pageWidth}};
            height: {{pageHeight}};

            display: grid;
            grid-template-columns: repeat({{columns}}, minmax(0, 1fr));
            grid-template-rows: repeat({{rows}}, minmax(0, 1fr));

            direction: {{pageDirection}};

            /* For screen display only */
            background: #fff;
            margin: .5in auto;

            padding: {{pagePadding}};
        }

        .panel {
            /* For screen display only */
            outline: 1px dashed #ccc;

            display: flex;
            justify-content: space-between;
            flex-direction: row;

            direction: ltr;
        }

        .handle {
            font-family: monospace;
            padding: {{handlePadding}};
            font-size: 10px;
            line-height: 2;
        }

        .image {
            background-size:
                {{#crop}}cover{{/crop}}
                {{^crop}}contain{{/crop}};
            background-repeat: no-repeat;
            background-position: {{imagePosition}};

            width: {{imageWidth}};
            height: {{imageHeight}};
            margin: {{imageMargin}};

            filter: {{imageFilter}};
            transform: rotate({{imageRotate}});
        }

        @media print {
            html, .page {
                background: none !important;
            }

            .page {
                margin: 0;
            }

            .panel {
                outline: none;
            }
        }
    </style>
</head>

<body>
    {{#pages}}
        <div class="page">
            {{#panels}}
                <div class="panel">
                    <div class="handle">
                        {{! TODO: use more lines, sure }}
                        {{filename}}{{^filename}}BLANK{{/filename}}<br />
                        P {{page}}<br />
                        # {{id}}
                    </div>
                    {{#filename}}
                        <div class="image" style="background-image:url({{filename}})"></div>
                    {{/filename}}
                </div>
            {{/panels}}
        </div>
    {{/pages}}
</body>

</html>
